---
pagination:
  data: collections.generateOgImage
  size: 1
  alias: currentPage
permalink: "/tmp/og-image-content{{currentPage.url}}"
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      body {
        background-color: black;
        color: white;
      }
    </style>
  </head>
  <body>
    <h1>{{ currentPage.data.title }}</h1>
    <h2>{{ currentPage.data.subtitle }}</h2>
  </body>
</html>
